.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    text-align: center;
    color: brown;
    margin: 0;
}


h3{
    color: brown;
}

p{
    color: grey;
}

h4{
    font-size: 24px;
    margin: 0;
}

a{
    margin: 10px;
    color: black;
    font-size: 20px;

}